:root {
  font-family: Arial, sans-serif;
  color: white;
  background-color: black;
}

a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: darkblue;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 2em;
}

button {
  padding: 10px 20px;
  background-color: gray;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: darkgray;
}

